<main>
  <div class="mx-auto max-w-screen-xl pb-8 rounded-xxl lg:flex lg:h-full">
    <h1 class="text-seccondary text-3xl max-w-full font-bold">FAQ</h1>
  </div>
  <div class=" rounded-xxl mx-28 lg:h-full bg-white">
    <div class="py-6">
      <details
        class="group m-6 [&_summary::-webkit-details-marker]:hidden"
        open
      >
        <summary
          class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary">Tutor Aplikasi</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>

        <h2 class="mt-4 px-4 text-primary text-2xl font-bold">
          Sering Ditanyakan
        </h2>
        <div class="grid grid-cols-2 px-4 leading-relaxed text-primary">
          <div>
            <details
              class="group [&_summary::-webkit-details-marker]:hidden"
              open
            >
              <summary class="flex cursor-pointer items-center">
                <h2 class="font-extrabold text-lg text-primary text-[14px]">
                  1. Pengaturan Struk Toko
                </h2>
                <svg
                  class="h-5 w-5 shrink-0 transition text-end duration-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </summary>
              <ul class="list-decimal px-10">
                <li class="leading-relaxed text-primary text-[14px]">
                  Pada Halaman Rincian Toko, Pilih Tab "Struk"
                </li>
                <li class="leading-relaxed text-primary text-[14px]">
                  Pilih "Ukuran Kertas Printer" Sesuai dengan printer yang kamu
                  miliki
                </li>
              </ul>
            </details>
            <details
              class="group [&_summary::-webkit-details-marker]:hidden"
              open
            >
              <summary class="flex cursor-pointer items-center">
                <h2 class="font-extrabold text-lg text-primary text-[14px]">
                  2. Tambah Cabang Toko Lain
                </h2>
                <svg
                  class="h-5 w-5 shrink-0 transition text-end duration-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </summary>
              <ul class="list-decimal px-10">
                <li class="leading-relaxed text-primary text-[14px]">
                  Bagaimana Sih Langkah-Langkah untuk Menambah Cabang Toko
                  Lain?Halo Sobat Mogi, Ada Beberapa Langkah untuk Menambah
                  Cabang Toko Lain Yaitu:1.Klik Pada Menu "Pengaturan Toko"
                </li>
                <li class="leading-relaxed text-primary text-[14px]">
                  Pilih SubMenu "Profil toko"
                </li>
                <li>
                  Pada Halaman Profil, akan Menampilkan Seluruh List Toko yang
                  sudah pernah dibuat
                </li>
                <li>Klik Tombol "+" pada Sisi Kanan Bawah Halaman Profil</li>
                <li>Masukkan "Nama Toko"</li>
                <li>Masukkan "No. Telepon Toko"</li>
                <li>Unggah Foto Toko ( Opsional )</li>
                <li>Masukkan "Alamat Toko"</li>
                <li>Pilih Toko Utama</li>
              </ul>
            </details>
            <details
              class="group [&_summary::-webkit-details-marker]:hidden"
              open
            >
              <summary class="flex cursor-pointer items-center">
                <h2 class="font-extrabold text-lg text-primary text-[14px]">
                  3. Mengatur Barang yang ingin di jual
                </h2>
                <svg
                  class="h-5 w-5 shrink-0 transition text-end duration-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </summary>
              <p class="text-[14px]">
                Bagaimana Sih Langkah-Langkah untuk mengatur barang yang ingin
                di jual ?Halo Sobat Mogi, Ada Beberapa Langkah untuk Mengatur
                Barang yang akan dijual Yaitu:
              </p>
              <ul class="list-decimal px-10">
                <li class="leading-relaxed text-primary text-[14px]">
                  Klik Pada Menu "Pengaturan Toko"
                </li>
                <li class="leading-relaxed text-primary text-[14px]">
                  Pilih SubMenu "Barang"
                </li>
                <li>
                  Pada Halaman Barang, terdapat 3 tab ( Kategori, Barang, dan
                  Bundling )
                </li>
              </ul>
            </details>
          </div>
          <div>
            <details
              class="group [&_summary::-webkit-details-marker]:hidden"
              open
            >
              <summary class="flex cursor-pointer items-center">
                <h2 class="font-extrabold text-lg text-primary text-[14px]">
                  4. Pengaturan Karyawan
                </h2>
                <svg
                  class="h-5 w-5 shrink-0 transition text-end duration-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </summary>
              <p class="text-[14px]">
                Bagaimana Sih Langkah-Langkah untuk Mengatur Karyawan Baru ?Halo
                Sobat Mogi, Ada Beberapa Langkah untuk Pengaturan Karyawan Baru
                Yaitu :
              </p>
              <ul class="list-decimal px-10">
                <li class="leading-relaxed text-primary text-[14px]">
                  Klik Pada Menu "Pengaturan Toko"
                </li>
                <li class="leading-relaxed text-primary text-[14px]">
                  Pilih SubMenu "Karyawan"
                </li>
                <li>
                  Pada Halaman Karyawan akan menampilkan seluruh list Karyawan
                </li>
                <li>
                  Klik Tombol "+" di sisi kanan bawah untuk menambah Karyawan
                  Toko
                </li>
                <li>Masukan "Nama Karyawan"6.Masukkan "Username Karyawan"</li>
              </ul>
            </details>
            <details
              class="group [&_summary::-webkit-details-marker]:hidden"
              open
            >
              <summary class="flex cursor-pointer items-center">
                <h2 class="font-extrabold text-lg text-primary text-[14px]">
                  5. Pengaturan Metode Pembayaran
                </h2>
                <svg
                  class="h-5 w-5 shrink-0 transition text-end duration-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </summary>
              <p class="text-[14px]">
                Bagaimana Sih Langkah-Langkah untuk Mengatur atau Menambah
                Metode Pembayaran ?Halo Sobat Mogi, Ada Beberapa Langkah untuk
                Pengaturan atau Penambahan Metode Pembayaran Yaitu :
              </p>
              <ul class="list-decimal px-10">
                <li class="leading-relaxed text-primary text-[14px]">
                  Klik Pada Menu "Pengaturan Toko"
                </li>
                <li class="leading-relaxed text-primary text-[14px]">
                  Pilih SubMenu "Metode Pembayaran"
                </li>
                <li>
                  Pada Halaman Metode Pembayaran akan menampilkan seluruh list
                  Metode Pembayaran
                </li>
                <li>
                  Klik Tombol "+" di sisi kanan bawah untuk menambah Metode
                  Pembayaran
                </li>
                <li>Pilih Tipe Pembayaran</li>
              </ul>
            </details>
          </div>
        </div>
      </details>
      <h2 class="px-8 text-primary text-2xl font-bold">Kategori</h2>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Beranda</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Beranda adalah Menu untuk menampilkan ringkasan penjualan,
              pembelian dan Stok yang ada di toko kamu yang di gambarkan ke
              dalam bentuk grafik dan angka
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Pembelian</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Penjualan</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Stok</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Laporan</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">
            Pengaturan Toko
          </h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
      <details
        class="details2 group m-6 [&_summary::-webkit-details-marker]:hidden"
      >
        <summary
          class="flex warna cursor-pointer items-center justify-between gap-1.5 rounded-lg border-4 border-primary p-4"
        >
          <h2 class="font-extrabold text-lg text-primary warna1">Pembelian</h2>
          <svg
            class="h-5 w-5 shrink-0 transition text-end duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>
        <div class="leading-relaxed text-primary">
          <div class="warna3 px-4 pb-4">
            <p>
              Pembelian adalah Menu untuk melakukan pembelian terhadap suatu
              barang yang ingin di jual di toko kamu
            </p>
          </div>
          <div class="mx-auto w-1/2 text-center pt-10">
            <p class="text-md">Apakah artikel ini membantu anda ?</p>
            <div class="flex mx-auto justify-center pt-6">
              <button class="mx-4"><img src="/img/like.svg" alt="" /></button>
              <button class="mx-4"><img src="/img/dislike.svg" alt="" /></button
              >
            </div>
          </div>
        </div>
      </details>
    </div>
  </div>
</main>

<style>
  .details2[open] .warna {
    background-color: #5a5ba7;
    border-radius: 10px 10px 0 0;
    color: #fff;
  }

  .details2[open] .warna3 {
    background-color: #5a5ba7;
    border-radius: 0 0 10px 10px;
    color: #fff;
  }

  .details2[open] .warna1 {
    color: #0ceac6;
  }
</style>
